h1 {
    color: blue; 
}
h1 {
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
}
h1 {
    font-size: 150px;
}
image {
    width: 800px;
    height: auto;
}
image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}